@import "../../../assets/styles/global.scss";

.statement-comment-container {
  margin-bottom: 3rem;
}

.card {
  color: $headline-dark-2;
  font-size: 1.5rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  border: 3px solid $color-primary;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.quote {
  margin: 1.3rem;
}