.panel {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 3rem;
  margin: 2rem 0;
  border: solid 1px #ccc;
}

.image {
  margin-right: 2rem;
}

.headline {
  font-size: 1.8rem;
}

.partei {
  color: #00000055;
}

.description {

}

.webpage {

}