@import "../../../assets/styles/global.scss";

.title-date-wrapper{
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 570px) {
    flex-direction: column;
  }
}

.title {
  color: $text-dark-1;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.description {
  color: $text-dark-1;
  font-size: 1.8rem;
  line-height: 1.5;
}

.date {
  color: $color-grey;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: right;
}

.experts-headline {
  color: $headline-dark-1;
  font-size: 2.6rem;
  line-height: 3.8rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

@keyframes slideUp {
  0% {
    opacity: 20%;
    transform: translateY(3rem);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
