@import "../../../assets/styles/global.scss";

.home-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 40vh;
  max-height: 35rem;
  padding: $spacing-section 0;
  background-image: url("../../../assets/images/header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -1rem;
}

.heading {
  color: white;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  &-accent {
    color: $orange;
  }

  @media screen and (max-width: 450px) {
    font-size: 3rem;
  }
}

.podcast {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 5%;
  bottom: -15px;
  z-index: 1;
  @media screen and (max-width: 800px) {
    right: auto;
    left: 5%;
  }
}

.podcast-subtext {
  margin-bottom: 10px;
  color: white;
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: none;
}

.podcast-icon-wrapper {
  display: flex;
}

.podcast-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  &:hover {
    transform: translateY(-0.1rem);
  }
  &-spotify {
    background-color: black;
  }
  &-apple {
    background-color: #CD67E5;
  }
  &-google {
    background-color: white;
  }
  &-overcast {
    background-color: white;
  }
}
