@import "../../assets/styles/global.scss";

.banner {
    color: $color-white;
    font-size: 1.8rem;
    line-height: 1.5;
    background-color: $orange;
    text-align: center;
    padding: 1.5rem;
  }
