@import "../../styles/global.scss";

.expert {
  &-wrapper {
    margin-bottom: 4rem;
    max-width: 80rem;
  }
  &-card {
    display: flex;
    flex-direction: column;
    border: 3px solid $color-primary;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 7px;
      &-left {
        display: flex;
      }
    }
    &-image {
      height: 8rem;
      width: 8rem;
      border-radius: 1rem;
      margin-top: -0.8rem;
      margin-left: -0.8rem;
    }
    &-user {
      margin-left: 1rem;      
      margin-top: 1rem;      
    }
    &-name {
      color: $headline-dark-2;
      font-size: 1.5rem;
      line-height: 2.2rem;
      font-weight: 700;
      &-wrapper {
        display: flex;
      }
    }
    &-organisation {
      color: $headline-dark-2;
      font-size: 1.5rem;
      line-height: 2.2rem;
      font-weight: 300;
    }
    &-statement {
      color: $text-dark-2;
      font-size: 1.5rem;
      line-height: 1.6rem;
      margin: 1.3rem;
      display: flex;
    }
    &-quote-text {
      padding-left: 5px;
    }
    &-controls {
      margin-left: 1.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-comments {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.2rem;
      color: $color-primary;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        opacity: 0.8;
      }
    }
    &-nav {
      display: flex;
      align-items: center;
      color: $color-grey-2;
      font-size: 1.3rem;
      line-height: 1.9rem;
      &-img {
        fill: $color-grey-2;
        height: 2rem;
        margin-left: 2rem;
      }
      &-time {
        margin: 0 1rem;
      }
      &-play {
        background-color: $color-primary;
        padding: 1rem 1.8rem;
        border-top-left-radius: 1.5rem;
        display: flex;
        margin-right: -2px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: 0;
        transition: all 0.2s;
        &:hover {
          opacity: 0.8;
        }
        &-img {
          height: 2.5rem;
        }
      }
    }
  }
}
