@import "../../../assets/styles/global.scss";

.home-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 40vh;
  max-height: 35rem;
  padding: $spacing-section 0;
  background-color: yellow;
  margin-left: -1rem;
}

.heading {
  color: black;
  font-size: 2.5rem;
  font-weight: 900;

  @media screen and (max-width: 380px) {
    font-size: 1.2rem;
  }

    @media screen and (min-width: 380px) {
    font-size: 1.3rem;
  }

  @media screen and (min-width: 550px) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: 750px) {
    font-size: 1.8rem;
  }

    @media screen and (min-width: 1000px) {
    font-size: 2.1rem;
  }
}
