@import "../../assets/styles/global.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: $color-white;
  background-color: var(--bg-color);
  border-radius: 50rem;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer;

  &--primary {
    composes: button;
    background-color: $color-primary;
  }

  &--cta {
    composes: button;
    background-color: $orange;
  }

  &--outlined {
    composes: button;
    box-shadow: none;
    border: solid 2px $color-white;
  }

  &--secondary {
    color: $color-grey;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &--comment {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.2rem;
      color: $color-primary;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.2s;
      &:hover, :focus {
        opacity: 0.8;
      }
    }

  &:hover {
    transform: translateY(-3px);
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(-1px);
  }
}
