@import '../../styles/global';

.text {
  font-size: 1.8rem;
  line-height: 1.5;
  color: $text-dark-1;
  font-weight: 400;
}

.headline {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

