@import '../../styles/global.scss';

.ExpertsCard {
  position: relative;
}

.speaker-image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin: .3rem;
  box-shadow: 0 0 10px rgba($color-grey, .3);
  object-fit: fill;
  transition: transform .2s;
}

.image-placeholder {
  position: absolute;
  bottom: .3rem;
  left: 50%;
  transform: translateX(-50%);
  height: 30%;
  width: 65%;
  border: solid 1px white;
  object-fit: cover;
}