@import "../../styles/global.scss";

.headline {
  padding: 1rem 1rem 0 1rem;
  font-weight: 500;
  color: $headline-blue;
  font-size: 2rem;
}

.input-length {
  padding-bottom: 1rem;
  font-weight: 500;
  color: $headline-blue;
  font-size: 1.6rem;
  text-align: center;
}

.step-index {
  color: $color-grey-2;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.textarea-container {
  margin: 0 3rem;
}

.form-input {
  width: 80%;
  height: 15rem;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 3rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
}
