@import '../../styles/global.scss';


.headline {
  padding-left: 1rem;
  font-weight: 500;
  color: $headline-blue;
  font-size: 2rem;
}

.input-length {
  padding-bottom: 1rem;
  font-weight: 500;
  color: $headline-blue;
  font-size: 1.6rem;
  text-align: center;
}

.step-index {
  color: $color-grey-2;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 80%;
  height: 15rem;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
  padding: 1rem;
  margin: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
}