@import "../../assets/styles/global.scss";

.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

h1 {
  margin: 2rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  & input,
  select {
    padding: 1.5rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: solid 1px rgba($color-grey, 0.3);
  }
  & label {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
}

.text {
  font-size: 1.6rem;
  margin-top: 2rem;
  & a {
    color: $color-primary;
  }
}