@import '../../styles/global.scss';

.home-header {
  display: flex;
  align-items: flex-end;
  height: 30vh;
  padding: $spacing-section 0;
  background-image: url("./images/HomeHeader_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heading {
  color: white;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}