@import '../../styles/global.scss';

.home-header {
  display: flex;
  align-items: flex-end;
  height: 40vh;
  max-height: 35rem;
  padding: $spacing-section 0;
  background-image: url("../../media/images/header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -1rem;
}

.heading {
  color: white;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  &-accent {
    color: $orange;
  }

  @media screen and (max-width: 450px) {
    font-size: 3rem;
  }
}