@import '../../styles/global.scss';

.header {
  position: relative;
}

.image {
  height: 40vh;
  max-height: 35rem;
  width: 100%;
  object-fit: cover;
  object-position: var(--objectPosition);
}

.wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.headline {
  color: var(--color);
  text-shadow: 1px 1px 4px #000000;
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  width: 100%;
}

.rounder {
  width: 100%;
  height: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: $color-white;
}