@import '../../styles/global.scss';

.panel {
  --color: red;
}

.image {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

.container {
  background-color: transparent;
}

.headline {
  padding-bottom: 2rem;
  margin-top: -4.5rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--color);
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 80rem;
  width: 100%;
  padding: 0 0 2rem 2rem;
}

.card-headline {
  color: var(--color);
}

.bg {
  position: relative;
  padding: 1rem 0;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: $color-white;
}