@import '../../styles/global.scss';

.panel {
  --color: red;
}

.image {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.container {
  background-color: transparent;
  margin-top: -7rem;
}

.row {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.headline {
  margin-bottom: 7rem;
  color: var(--color);
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card-headline {
  color: var(--color);
}

.bg {
  position: relative;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: $color-white;
  margin-top: -5rem;
}