@import "../../../assets/styles/global.scss";

.category-banner {
  --bg: "";
  position: relative;
  width: 100%;
  padding-bottom: $spacing-section;
  background-color: var(--bg);
  overflow: hidden;
}

.name {
  display: inline-block;
  text-shadow: 1px 1px 4px #000000;
  color: white;
  font-size: 3.6rem;
  font-weight: 800;
  padding: 3rem 0;
}

.image {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  min-width: 500px;
  max-height: 20rem;
}
