@import '../../styles/global.scss';

.category-banner {
  --color: orangered;
  --url: "";
  position: relative;
  width: 100%;
  padding: $spacing-section 0;
  background-color: var(--color);
}

.name {
  color: white;
  font-size: 2.6rem;
  font-weight: 700;
}

.image {
  width: 100%;
  height: 25rem;
  position: absolute;
  top: 0;
  left: 0;
  background-image: var(--url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container_panels {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}