@import '../../styles/global.scss';

.category-banner {
  --bg: "";
  position: relative;
  width: 100%;
  padding-bottom: $spacing-section;
  background-color: var(--bg);
}

.name {
  display: inline-block;
  color: white;
  font-size: 3.6rem;
  font-weight: 800;
  padding: 3rem 0;
}

.image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}