$color-white: #fff;
$color-grey: #282828;
$color-grey-2: #C8C8C8;
$color-primary: #4E0CED; 
$headline-blue: #0F4C81;
$headline-dark-1: #1C1C1C;
$headline-dark-2: #333;
$text-dark-1: #404040;
$text-dark-2: #000;

$spacing-section: 5rem;
$navbar-height: 5rem;


.u-margin-top--medium {
  margin-top: 2rem;
}