$color-white: #fff;
$color-grey: #282828;
$color-grey-2: #C8C8C8;
$color-primary: #4E0CED; 
$color-primary-hover: rgb(104, 43, 247); 
$headline-blue: #0F4C81;
$headline-dark-1: #1C1C1C;
$headline-dark-2: #333;
$text-dark-1: #404040;
$text-dark-2: #000;
$orange: #EE8137;

$spacing-section: 5rem;
$navbar-height: 6rem;
$footer-height: 5rem;


// @mixin respond-to($media) {
//   @if $media == phone {
//     @media only screen and (max-width: $break-small) { @content; }
//   }
//   @else if $media == medium-screens {
//     @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
//   }
//   @else if $media == wide-screens {
//     @media only screen and (min-width: $break-large) { @content; }
//   }
// }

.u-margin-top--medium {
  margin-top: 2rem;
}

.u-margin-bottom--medium {
  margin-bottom: 2rem;
}