@import "../../../assets/styles/global.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }
}

.image-wrapper {
  padding: 15px;
}

.image {
  width: 115px;
}
