@import "../../../assets/styles/global.scss";

.question-banner {
  --url: "";
  --color: "";
  font-weight: 600;
  width: 40rem;
  height: 55rem;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  box-shadow: 1px 3px 16px -1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.3s;
  background-color: $color-white;

  &:hover {
    transform: translateY(-0.4rem);
  }

  @media screen and (max-width: 450px) {
    width: 95%;
  }
}

.image-wrapper {
  position: relative;
  width: 100%;
  flex-grow: 1;
  background-color: $color-grey;
  background-image: var(--url);
  background-size: cover;
  background-position: center;
}

// About us picture should be focused on top
.image-wrapper:last-child {
  background-position: top;
}

.shortTitle {
  position: absolute;
  top: 2rem;
  padding: 0 1rem;
  color: var(--color);
  text-shadow: 1px 1px 4px #000000;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  z-index: 6;
}

.title {
  color: $color-grey;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}

.experts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
