@import "../../../assets/styles/global.scss";

$breakpoint: 450px;
$border-radius: 2rem;

.panel-card {
  position: relative;
  margin: 2rem 1rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-0.4rem);
  }
}

.question-banner {
  --url: "";
  --color: "";
  font-weight: 600;
  width: 40rem;
  height: 55rem;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 1px 3px 16px -1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  
  @media screen and (max-width: $breakpoint) {
    width: 95%;
  }
}

.image-wrapper {
  position: relative;
  width: 100%;
  flex-grow: 1;
  background-color: $color-grey;
  background-image: var(--url);
  background-size: cover;
  background-position: center;
}

// About us picture should be focused on top
.image-wrapper:last-child {
  background-position: top;
}

.shortTitle {
  padding: 0 1rem;
  padding-top: 4rem;
  color: var(--color);
  text-shadow: 1px 1px 4px #000000;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.playAllButton {
  position: absolute;
  top: -1rem;
  right: -.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $color-primary;
  height: 5rem;
  width: 5rem;
  z-index: 2;

  & img {
    width: 2.3rem;
    margin-left: .5rem;
  }
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  z-index: 6;
}

.title {
  color: $color-grey;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}

.experts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
