@import "../../styles/global.scss";

.about {
  background-color: $color-white;
  padding: $spacing-section 0;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
