
.question-banner {
  --url: "";
  background-image:
    linear-gradient(to right, #000, transparent),
    var(--url); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4rem;
  font-weight: 600;
}

.category {
  color: #ccc;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text {
  color: white;
  font-size: 2.2rem;
}