@import "../../../assets/styles/global.scss";

$breakpoint: 450px;

.comment {
  padding: 2.5rem 0;
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 
    "audio statement like";

  @media screen and (max-width: $breakpoint) {
    grid-template-columns: 1fr auto;
    grid-template-areas: 
      "statement like"
      "audio like";
  }
}

.answer-mark {
  color: $text-dark-2;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.audio {
  grid-area: audio;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $breakpoint) {
    flex-direction: row;
    margin-top: 1rem;
  }

  &-icon {
    background-color: $color-primary;
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      opacity: 0.8;
    }

    &--expert {
      background-color: $orange;
    }

    &_img {
      height: 2.5rem;
    }
  }

  &-info {
    font-size: 1.3rem;
    color: $color-grey-2;

    @media screen and (max-width: $breakpoint) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      font-size: 1.5rem;
      margin-left: 1rem;
    }
    
    &_duration {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: .5rem;

      @media screen and (max-width: $breakpoint) {
        margin-top: 0;
        justify-content: flex-start;
      }

      &_img {
        height: 1.5rem;

        @media screen and (max-width: $breakpoint) {
          margin-right: .5rem;
        }
      }
    }
    
    &_date {
      margin-top: .5rem;

      @media screen and (max-width: $breakpoint) {
        margin-top: 0;
      }
    }
  }
}

.statement {
  grid-area: statement;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
  
  @media screen and (max-width: $breakpoint) {
    padding: 0;
  }
  
  &_username {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $headline-dark-2;
  }
  
  &_comment {
    font-size: 1.5rem;
    line-height: 1.3;
    color: $text-dark-2;
    word-wrap: break-word;
  }
}

.like {
  grid-area: like;
  position: relative;
  display: flex;
  align-items: flex-end;
  
  &-batch {
    height: 4rem;
    position: absolute;
    top: -1.5rem;
    right: -1rem;
  }

  &_container {
    display: flex;
    align-items: center;
  }

  &_count {
    color: $color-grey-2;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 0.4rem;
    margin-right: 0.8rem;

    &--liked {
      color: $color-primary;
    }
  }
}