@import '../../styles/global.scss';


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.delete-audio {
  color: $headline-blue;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  font-weight: 600;
  padding-right: 1rem;
  &:hover {
    cursor: pointer;
  }
}


.counter-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 6rem;
}

.counter {
  z-index: 3;
  color: #fff;
}

.effect {
  position: absolute;
  transform-origin: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: rgba(red, .5);
  animation: puls 1s infinite;
}

.effect2 {
  position: absolute;
  transform-origin: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: rgba(red, .5);
  animation: puls-inv 1s infinite;
  z-index: 2;
}

.recording-headline {
  font-weight: 500;
  color: $headline-blue;
  font-size: 2.5rem;
  text-align: center;
}

.recording-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  background-color: $color-primary;
  margin-left: 1rem;
  width: 24rem;
  padding: 0 1.2rem;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    opacity: .8;
  }
  &-text { 
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 700;
    margin-right: 1rem;
  }
  &-img {
    padding-top: 0.6rem;
    height: 4rem;
  }
}

.recorded-audio {
  margin: 3rem 0;
}

.step-index {
  color: $color-grey-2;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

@keyframes puls {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes puls-inv {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}