@import '../../styles/global.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  padding:  0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px $color-grey;
  background-color: $color-white;
  z-index: 300;
  transition: all .3s;
  
  &_top {
    composes: navbar;
    background-color: transparent;
    box-shadow: none;
  }
}

.logo {
  height: 2.5rem;
  object-fit: cover;
  margin-right: 3rem;
}

.container {
  display: flex;
  list-style-type: none;
}

.item {
  color: $color-grey;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0 1.1rem;

  &_top {
    composes: item;
    color: $color-white;
  }
}