.navbar {
  height: 5rem;
  padding:  0 4rem;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;

  &-container {
    
    display: flex;
    list-style-type: none;

    &_item {
      font-size: 1.6rem;
      margin: 0 1.1rem;
    }
  }
}