@import '../../styles/global.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  padding:  0 4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px $color-grey;
  background-color: $color-white;
  z-index: 300;
  transition: all .3s;
  
  &_top {
    composes: navbar;
    background-color: transparent;
    box-shadow: none;
  }
}

.logo {
  height: 2.5rem;
  object-fit: cover;
  margin-right: 4rem;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  
  &_items {
    display: flex;
    align-items: center;
  }
}

.item {
  color: $color-grey;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0 1.1rem;

  @media screen and (max-width: 750px) {
    display: none;
  }

  &_top {
    composes: item;
    color: $color-white;
  }
}

.item:last-child {
  color: $color-grey-2;
}