.navbar {
  --bgcolor: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding:  0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bgcolor);
  z-index: 300;

  &-container {
    display: flex;
    list-style-type: none;

    &_item {
      font-size: 1.6rem;
      margin: 0 1.1rem;
    }
  }
}