@import "../../assets/styles/global.scss";

.tutorial-tasks {
  position: fixed;
  top: 8rem;
  left: 1rem;
  min-width: 30rem;
  padding: 2rem 3rem;
  background-color: rgba(0,0,0,0.8);
  color: $color-white;
  border-radius: 3px;
  backdrop-filter: blur(5px);
  border-top: solid 1px rgba($color-white, .8);
  border-bottom: solid 1px rgba($color-white, .8);
  z-index: 99999;
 
  & ul {
    font-size: 1.6rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.headline {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  border-bottom: solid 1px rgba($color-white, .8);
}
