@import "../../assets/styles/global.scss";

.more-section {
  padding: $spacing-section 0;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: solid 0.3rem $color-primary;
}

.line {
  width: 100%;
  border-top: solid 0.3rem $color-primary;
  margin-bottom: 2rem;
}
