@import '../../styles/global.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000055;
}

.burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &_item {
    display: inline-block;
    width: 3rem;
    height: .4rem;
    border-radius: 2rem;
    background-color: #000;

    &:nth-child(2) {
      margin: .5rem 0;
    }
  }
}

.slider {
  position: fixed;
  right: 0;
  top: 0;
  width: 25rem;
  height: 100vh;
  background-color: $color-grey;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  z-index: 500;
  transition: all .5s ease-out;
  transform: translateX(100%);

  &_active {
    transform: translateX(0);
  }
}

.x {
  position: absolute;
  top: 3.5rem;
  right: 1.5rem;
  width: 3rem;
  height: .4rem;
  border-radius: 2rem;
  background-color: #fff;
  cursor: pointer;
}

.x_1 {
  composes: x;
  transform: rotate(-45deg);
}

.x_2 {
  composes: x;
  transform: rotate(45deg);
}


.list {
  list-style: none;
  text-align: right;
  color: $color-white;
}

.item {
  font-size: 2.2rem;
  font-weight: 800;
  padding: 1.8rem 2rem;

  &:hover {
    color: $color-primary;
  }
}




.menuToggle {
  --burgerColor: '';

  display: none;
  position: relative;
  z-index: 1;
  
  user-select: none;

  @media screen and (max-width: 750px) {
    display: block;
  }

  & a {
    text-decoration: none;
    color: $color-primary;

    transition: color 0.3s ease;
  }

  & input {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }

  & span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: var(--burgerColor);
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    
    &:first-child {
      transform-origin: 0% 0%;
    }   
    
    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }


  & input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  & input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--burgerColor);
  }

  & input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  & input:checked ~ ul {
    transform: none;
    opacity: 1;
  }

  & input:checked ~ ul li {
    visibility: visible;
  }
}

.menu {
  position: absolute;
  top: 4rem;
  right: -1rem;
  min-width: 20rem;
  background-color: $color-white;
  list-style-type: none;
  border-radius: .3rem;
  transform: translateX(10%);
  box-shadow: 0 0 10px rgba($color-grey, .3);
  opacity: 0;
  transition: all .3s;
  
  & li {
    visibility: hidden;
    width: 100%;
    text-align: right;
    padding: 2rem 3rem;
    font-size: 2.6rem;
    border-top: solid 1px rgba($color-primary, .5);  

    &:first-child {
      border: none;
    }
  }

}