@import "../../assets/styles/global.scss";

.feedback {
  padding: $spacing-section 0;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 32rem;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: solid 0.3rem $color-primary;
}

.email {
  font-size: 1.8rem;
  padding: 1rem;
  border-bottom: solid 2px $color-primary;
  border: solid 1px rgba($color-grey, 0.3);
  margin: 1rem 0;
  border-radius: 5px;
  border: 1px solid $color-grey-2;
  outline: none;
}

.textarea {
  font-size: 1.8rem;
  height: 10rem;
  padding: 0.5rem;
  resize: none;
  border: solid 1px rgba($color-grey, 0.3);
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid $color-grey-2;
  outline: none;
  font-family: inherit;
}
