@import '../../styles/global.scss';

.feedback {
  padding: $spacing-section 0;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: solid .3rem $color-primary;
}

.email {
  font-size: 1.8rem;
  padding: 1rem;
  border-bottom: solid 2px $color-primary;
  border: solid 1px rgba($color-grey, .3);
  margin-bottom: 1rem;
}

.textarea {
  font-size: 1.8rem;
  height: 10rem;
  padding: .5rem;
  resize: none;
  border: solid 1px rgba($color-grey, .3);
  margin-bottom: 1rem;
}