@import '../../styles/global.scss';

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 3rem;
  background-color: $color-grey;
}

.container {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;

   @media screen and (max-width: 550px) {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.item {
  position: relative;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0 1rem;
  color: $color-white;
  cursor: pointer;
  
  & a {
    //text-decoration: underline;

      &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: .1rem;
      background-color: $color-white;
    }
  }

   @media screen and (max-width: 550px) {
    margin-top: 1.5rem;
  }
}

