@import '../../styles/global.scss';

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: $footer-height;
  // border-top: solid 1px black;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
}

.item {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 1rem;
}
