@import '../../styles/global.scss';

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: $footer-height;
  border-top: solid 1px black;
}

.container {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

.item {
  font-size: 1.4rem;
  font-weight: 600;
}
