.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  border-top: solid 1px black;
  background-color: red;
}

.container {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

.item {
  font-size: 1.4rem;
  font-weight: 600;
}
