@import '../../styles/global.scss';

.question-banner {
  --url: "";
  --color: "";
  font-weight: 600;
  width: 40rem;
  height: 55rem;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  box-shadow: 1px 3px 16px -1px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all .3s;

  &:hover {
    transform: translateY(-.4rem);
  }

  @media screen and (max-width: 450px) {
    width: 95%;
  }
}


.image-wrapper {
  position: relative;
  flex-basis: 40%;
  width: 100%;
  background-image: var(--url);
  background-size: cover;
  background-position: center;
}

.shortTitle {
  position: absolute;
  top: 2rem;
  padding: 0 1rem;
  color: var(--color);
  text-shadow: 1px 1px 4px #000000;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.detail-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
}

.title {
  color: $color-grey;
  font-size: 2.2rem;
  padding: 1rem;
  flex: 1;
}

.experts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}