.header {
  display: flex;
  margin-bottom: 7px;
}

.image {
  height: 8rem;
  width: 8rem;
  border-bottom-right-radius: 1rem;
}

.user-info {
  flex-grow: 1;
  padding: 1rem;      
}

.name {
  font-weight: 700;
}

.organisation {
  font-weight: 300;
}