@import "../../styles/global.scss";

.page-not-found {
  height: 100vh;
  background-image: url("./Image/berlin-eu-european-union-federal-chancellery-4666.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &-wrapper {
    text-align: center;
    color: $color-white;
    font-size: 1.7rem;
  }
  &-text {
    padding: 3rem;
  }
}
