@import './styles/global.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  box-sizing: inherit;
}

a {
 text-decoration: none;
 color: inherit;
}

html {
  font-size: 62.5%;
  font-family: "HelveticaNowDisplay";
  font-weight: 400;
  box-sizing: border-box;
}