@import './styles/global.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  box-sizing: inherit;
}

a {
 text-decoration: none;
 color: inherit;
}

html {
  font-size: 62.5%;
  font-family: "HelveticaNowDisplay";
  font-weight: 400;
  box-sizing: border-box;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

// Audio Player global Styling
#rhap_current-time {
  color: $color-grey-2;
  width: 40px;
 }

.rhap_total-time {
  color: $color-grey-2;
}

 .rhap_container {
   box-shadow: none;
 }

 .rhap_main-controls-button {
   color: $color-primary;
 }

 .rhap_main-controls-button:focus {
   outline: none;
 }

.rhap_progress-container:focus {
  outline: none;
}

.rhap_main-controls-button:active {
  color: $color-primary-hover;
}

.rhap_main-controls-button:hover {
  color: $color-primary-hover;
}

 .rhap_progress-indicator {
  background: $color-primary;
 }