@import "./assets/styles/global.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  font-family: "HelveticaNowDisplay", "Helvetica";
  font-weight: 400;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

// Audio Player global Styling
#rhap_current-time {
  color: $color-grey-2;
  width: 40px;
}

.rhap_total-time {
  color: $color-grey-2;
}

.rhap_container {
  box-shadow: none;
}

.rhap_main-controls-button {
  color: $color-primary;
}

.rhap_main-controls-button:focus {
  outline: none;
}

.rhap_progress-container:focus {
  outline: none;
}

.rhap_main-controls-button:active {
  color: $color-primary-hover;
}

.rhap_main-controls-button:hover {
  color: $color-primary-hover;
}

.rhap_progress-indicator {
  background: $color-primary;
}
