@import './styles/global.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;

  /**equals 16px in px 1rem equals 10px**/
  // @include respond(tab-port) {
  //   font-size: 56.25%;
  // }

  // @include respond(tab-land) {
  //   font-size: 50%;
  // }

  // @include respond(big-desktop) {
  //   font-size: 75%;
  // }
}

body {
  
  // @include respond(tab-port) {
  //   padding: 0;
  // }
}