@import "../../assets/styles/global.scss";

.footer {
  width: 100%;
  padding: 3rem;
  background-color: $color-grey;
}

.container {
  display: flex;
  flex-direction: column;
}

.legal-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: solid 1px rgba($color-grey-2, 0.4);

  @media screen and (max-width: 550px) {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.item {
  position: relative;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0 1rem;
  color: $color-white;
  cursor: pointer;

  @media screen and (max-width: 550px) {
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.social-icons {
  margin-top: 2.3rem;

}

.icon {
  height: 2.5rem;
  margin-right: 1.5rem;
}
