%button {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.button {
  @extend %button;

  &--active {
    @extend %button;
    color: #5890ff;
  }
}