@import "../../../assets/styles/global.scss";

.pvtlanding {
  padding: $spacing-section 0;
}

.flex-wrapper {
  display: flex;
  margin-bottom: 3rem;

  & img {
    width: 42px;
    height: 42px;
    margin-right: 2rem;
  }
}

.checkul {
  list-style-image: url(../../../assets/images/checkmark.svg);

  & li {
    padding: .5rem 0;
  }
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: solid 0.3rem $color-primary;
}

.name {
  width: 100%;
  padding: 5rem 0;
  color: white;
  font-size: 2rem;
  background-color: #4787ff;

   & input {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
   }
}

.nameinput {
  font-size: 1.8rem;
  padding: 1rem;
  border-bottom: solid 2px $color-primary;
  border: solid 1px rgba($color-grey, 0.3);
  border-radius: 5px;
  border: 1px solid $color-grey-2;
  outline: none;
}
